nav {
  position: fixed;
  height: 7vh;
  background-color: #151a4c;
  margin-bottom: 0px !important;
}
.offcanvas-body,
.offcanvas-header {
  background-color: #151a4c;
}
.navbar {
  box-shadow: 2px 5px black !important;
}
.nav-link {
  color: white;
  opacity: 0.8;
  letter-spacing: 1px;
  font-size: 16px;
  /* line-height: 18px; */
  border-radius: 3px;
  padding: 5px 15px !important;
}
.nav-link:active {
  color: white;
  opacity: 0.8;
  letter-spacing: 1px;
  font-size: 16px;
  /* line-height: 18px; */
  border-radius: 3px;
  padding: 5px 15px !important;
}

.nav-link:hover {
  transition: 1s;
  color: white;
  background-color: var(--primary-color);
}
/*
.nav-item:hover {
  color: white;
} */
p.d-inline.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px !important;
}
p.d-inline {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 19px !important;
}
.nav-link:focus {
  transition: 2s;
  background-color: var(--primary-color);
  color: white;
}

.toggle_btn {
  cursor: pointer;
  border: none !important;
  outline: none !important;
}
.hamburger-react {
  z-index: 9;
}
button btn-close me-2 {
  z-index: 9999;
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 8vh;
  }
  p.d-inline.x {
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 4px !important;
    font-size: 15px !important;
  }
  p.d-inline.y {
    color: white;
    font-weight: 600;
    letter-spacing: 4px !important;
    font-size: 15px !important;
  }
  button.navbar-toggler.collapsed {
    border: none !important;
  }
  .smallnav {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .smallnav {
    display: none !important;
  }
}
.nav-link {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.nav-link:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ".";
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.nav-link:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

.offcanvas {
  transition: left 0.3s ease;
}

.nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-item a {
  transition: all 0.3s ease;
}
