@import "../../App.css";

.__page {
  background-color: var(--secondary-color);
  height: 93vh !important;
  margin-top: 0px !important;
}
.pagetitle {
  color: var(--light-color);
  padding-top: 20px !important;
  font-size: 20px;
}
.internetinfo .value {
  color: var(--light-color);
  font-weight: var(--text-bold);
  text-transform: uppercase;
}
.internetinfo .title {
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: var(--text-light);
  opacity: var(--opacity);
}
.box {
  background-color: #151a4c;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
.box:nth-child(4) {
  border-radius: 0px 7px 7px 0px;
}
button {
  background: transparent !important;
}
.box:nth-child(2) {
  border-radius: 7px 0px 0px 7px;
  border-right: 1px solid rgb(190, 187, 187) !important;
}

.box:nth-child(3) {
  border-right: 1px solid white !important;
}
.internetinfo {
  text-align: left;
}
._icon {
  color: red;
  width: 20px !important;
}
img {
  width: 25px;
  height: 25px;
}
.refresh_btn {
  z-index: +999;
}
.button-container {
  /* background-color:  ; */
  border: none !important;
}
.__speedmeter {
  z-index: -999999999999;
}
/* speedtest.css */

.__speedmeter {
  transition: opacity 5s ease;
}

.__speedmeter.show {
  opacity: 1;
}
.refresh_btn button {
  border: none !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box:nth-child(2) {
    z-index: 9;
  }
  .box:nth-child(3) {
    margin-left: -10px;
    padding-right: 10px !important;
  }
  .internetinfo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .internetinfo .value {
    font-size: 10px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
  }
  .internetinfo .title {
    font-size: 10px;
    letter-spacing: 0.8px;
  }
  .button-container {
    margin-top: -25px !important;
    margin-bottom: 25px !important;
    height: 300px !important;
    width: 300px !important;
  }
  .effect1_alt {
    height: 150px !important;
    width: 150px !important;
  }

  .effect1_alt {
    margin-top: 80px;
  }
  .__meter {
    margin-top: -20px;
  }
  .refresh_btn {
    margin-top: -10px !important;
    margin-bottom: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .internetinfo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .internetinfo .value {
    font-size: 11px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
  }
  img.__img {
    width: 20px !important;
    height: 30px !important;
  }
  .internetinfo .title {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .internetinfo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .internetinfo .value {
    font-size: 11px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
  }
  .internetinfo .title {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  .button-container {
    margin-top: 5px !important;
    height: 350px !important;
    width: 350px !important;
  }
  img.__img {
    width: 25px !important;
    height: 33px !important;
  }
  .effect1_alt {
    margin-top: 80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .internetinfo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .internetinfo .value {
    font-size: 11px;
    padding: 5px 0px;
    letter-spacing: 0.8px;
  }
  .internetinfo .title {
    font-size: 11px;
    letter-spacing: 0.8px;
  }
  img.__img {
    width: 25px !important;
    height: 35px !important;
  }
  .button-container {
    margin-top: 5px !important;
    height: 350px !important;
    width: 350px !important;
  }
  .effect1_alt {
    margin-top: 80px;
  }
  .pagetitle {
    color: var(--light-color);
    margin-bottom: 30px !important;
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .internetinfo {
    padding: 20px 20px;
  }
  .internetinfo .title {
    padding-bottom: 10px;
  }
  img.__img {
    width: 30px !important;
    height: 30px !important;
  }

  .pagetitle {
    color: var(--light-color);
    padding-top: 40px !important;
    margin-bottom: 30px !important;
    font-size: 20px;
  }
}
