/* SegmentedSpeedometer.css */

.meter {
  background-color: aqua !important;
}
.segmented-speedometer {
  display: flex;
  justify-content: center;
  background-color: #bd1212;
  align-items: center;
  height: 200px; /* Adjust height as needed */
}

.segmented-speedometer .react-circular-progress-bar__text {
  font-size: 24px;
  font-weight: bold;
}

.segmented-speedometer .react-circular-progress-bar__bar {
  transition: stroke 0.3s ease-in-out; /* Smooth color transition */
}
