@import "semantic-ui-css/semantic.min.css";

:root {
  --primary-color: #ff4848;
  --secondary-color: #050737;
  --light-color: #ffffff;
  --text-bold: 600;
  --text-light: 400;
}

.App {
  background-color: var(--secondary-color);
  height: 100vh;
  text-align: center;
}
